:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-base: 11px;
  --font-size-lg: 10px;
  --font-size-xl: 10.99px;

  /* Colors */
  --color-white: #fff;
  --color-gray-100: #adadad;
  --color-gray-200: #465071;
  --color-indigo: #0a7aff;
  --color-all-text:#465071;
}

body {
  background: rgb(204,204,204); 
}

page {
  background: white;
  display: block;
  margin: auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
  
}

page[size="A4"] {  
  width: 21cm;
  height: 29.7cm; 
  /* background-image: url(../Cerfa_Malki.png); */
  /* background-repeat: no-repeat, no-repeat; */
  background-size: 100%;
  font-family: var(--font-inter);
  text-align: left;
  margin-top: 17px;
}