:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-base: 11px;
  --font-size-lg: 10px;
  --font-size-xl: 10.99px;

  /* Colors */
  --color-white: #fff;
  --color-gray-100: #adadad;
  --color-gray-200: #465071;
  --color-indigo: #0a7aff;
}

body {
  background: rgb(204,204,204); 
}

page {
  background: white;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}

page[size="A4"] {  
  width: 21cm;
  height: 29.7cm; 
}