.Haut-client{
    /* background-color: greenyellow; */
    height: 290px;
    position: relative;
    /* opacity: 0.5; */
    top: 3.5%;
    left: 6%;
    width: 87%;
}
.logo-switcher{
  /* background-color: red; */
  height: 79px;
  position: relative;
}
.frame-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 29.6px;
  color: var(--color-indigo);
  position: absolute;
  left: 0.6%;
}
.cerfa-div {
  position: relative;
  letter-spacing: 0.01em;
  font-weight: 600;
  display: inline-block;
  left: 0.5%;
  top: 1%;
}
.numero-transact {
  position: relative;
  font-family: var(--font-inter);
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.01em;
  top: 5.5%;
  left: 1%;
}

.vector-icon {
  width: 49.3px;
  height: 65.9px;
  position: absolute;
  top: 0.9px;
  left: 47%;
}

.vector-icon1 {
  width: 49.3px;
  height: 68.9px;
  position: absolute;
  top: 175.9px;
  left: 9px;
}

.Content-part{
  height: 223px;
  position: relative;
}
.droite{
  /* background-color: rgb(22, 141, 206); */
  height: 83px;
  position: absolute;
  width: 190px;
  left: 438px;
  top: 63px;
}
.gauche{
  /* background-color: rgb(153, 250, 7); */
  height: 223px;
  position: absolute;
  width: 306px;
}

.Milieu-client{
    /* background-color: green; */
    height: 124px;
    position: relative;
    /* opacity: 0.5; */
    top: 3.5%;
    /* left: 6%; */
    /* width: 87%; */
}


.Corps-client{
  /* background-color: purple; */
  height: 297px;
  position: relative;
  /* opacity: 0.5; */
  top: 3.5%;
  left: 6%;
  width: 87%;
}
.rectangle-div10 {
  position: absolute;
  top: 41px;
  left: 8.8px;
  border-radius: var(--br-lg);
  background-color: var(--color-indigo);
  width: 117.7px;
  height: 24px;
  margin-top: 1%;
  border-radius: 5px;
}

.rectangle-div11 {
  position: absolute;
  top: 41px;
  left: 421.8px;
  border-radius: var(--br-lg);
  background-color: var(--color-indigo);
  width: 96.7px;
  height: 24px;
  margin-top: 1%;
  border-radius: 5px;
}
.bneficiaire {
  position: absolute;
  font-size: 14.5px;
  letter-spacing: 0.01em;
  display: inline-block;
  color: var(--color-white);
  margin-top: 4.5%;
  left: 6%;
  top: -1px;
}

.donateur-b {
  position: absolute;
  font-size: 14.5px;
  letter-spacing: 0.01em;
  display: inline-block;
  color: var(--color-white);
  margin-top: 4.5%;
  left: 9%;
  top: -1px;
}

.Bas-client{
  /* background-color: pink; */
  height: 372px;
  position: relative;
  /* opacity: 0.5; */
  top: 3.5%;
  left: 6%;
  width: 87%;
}
.vector-icon7 {
  width: 145.9px;
  height: 102px;
  position: absolute;
  top: 239px;
  left: 204px;
}

.dr-robert-zbili-prsident-du {
  position: absolute;
  top: 254.3px;
  left: 345px;
  display: inline-block;
  font-weight: 500;
  font-size: 11.5px;
  letter-spacing: 0.01em;
  color:var(--color-all-text);
}
.le-bnficiaire-reconnat1 {
  margin-block-start: 0;
  margin-block-end: 0;
}
.date-de-paiement1 {
  margin: 0;
}
.numraire-div-2{
  position: absolute;
  height: 102.3%;
  width: 70.65%;
  top: 126.2%;
  right: 0;
  bottom: 3.43%;
  left: 24%;
  letter-spacing: 0.09em;
  /* font-weight: 500; */
  display: inline-block;
  font-size: 6px;
  line-height: 1.5em;
}

