.Haut_Logo{
  margin-top: 25.93px;
}

.Milieu-contenuCertificat{
  margin-top: 13%;
}

.bneficiaire, .donateur-b {
  position: absolute;
/*  top: 946.16px;*/
  font-size: var(--font-size-2xl);
  letter-spacing: 0.01em;
  display: inline-block;
  color: var(--color-white);
  margin-top: 4.5%;
  left: 6%;
}


.rectangle-div10, .rectangle-div11 {
  position: absolute;
/*  top: 939.4px;*/
  left: 105.85px;
  border-radius: var(--br-lg);
  background-color: var(--color-indigo);
  width: 218.72px;
  height: 46.98px;
    margin-top: 1%;
}

.rectangle-div11 {
  left: 65%;
  width: 179.56px;
/*    background-color: aqua;*/
}
.benefs-e{
    margin-top: 6%;
}

.vector-icon7 {
  position: absolute;
  top: calc(60% - -812.49px);
  left: calc(42% - 282.17px);
  width: 298.91px;
  height: 187.97px;
}
.dr-robert-zbili-prsident-du {
  position: absolute;
  top:92%;
  left: 863px;
  display: inline-block;
  font-weight: 500;
}
.le-bnficiaire-reconnat1 {
  margin-block-start: 0;
  margin-block-end: 0;
}
.date-de-paiement1 {
  margin: 0;
}
.centre{
  margin-left: 35%; 
  width:500px;
  /* background-color: aquamarine; */
  position: absolute;
  margin-top: 1%;

}
.droite{
  margin-left: 83%;
  margin-top: 1%;
  /* background-color: aquamarine;  */
  position: absolute;
}

.info-clients{
  margin-top: 7%;
}

.info-associations{
  margin-top: 24%;
}
.autre{
  margin-top:7%
}
.autre2{
  margin-top:37%;
}
