body {
  margin: 0;
  line-height: normal;
}
.bas-div,
.haut-div,
.milieu-div {
  position: absolute;
  height: 122.18%;
  width: 366.75%;
  top: 244.35%;
  right: -266.75%;
  bottom: -266.54%;
  left: 0;
  background-color: var(--color-gray-500);
  display: none;
}
.haut-div,
.milieu-div {
  top: 0;
  bottom: -22.18%;
  background-color: var(--color-red);
}
.milieu-div {
  top: 122.15%;
  bottom: -144.34%;
  background-color: var(--color-green);
}
.rectangle-div {
  /* position: absolute; */
  /* top: 34%; */
  left: 0;
  background-color: var(--color-indigo);
  width: 100%;
  height: 102.3px;
}
.vector-icon,
.vector-icon1 {
  position: absolute;
/*  top: 76.93px;*/
  left:50%;
  width: 93.3px;
  height: 118.95px;
}
.vector-icon1 {
/*  top: 1208.56px;*/
  left: 106.94px;
    top: 1079.6px;
}
.cerfa-div {
  position: relative;
  letter-spacing: 0.01em;
  font-weight: 600;
  display: inline-block;
}
.button,
.frame-div {
  color: var(--color-indigo);
}
.button {
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  font-size: 23.19px;
  letter-spacing: 0.01em;
  font-weight: 500;
  font-family: var(--font-inter);
  text-align: center;
  display: inline-block;
  margin-top: 1%;

}
.frame-div {
  position: absolute;
/*  top: 76.93px;*/
  left: 99.03px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 54.56px;
}
.n-dordre-de-reu {
  top:35%;
/*  left: 1126.45px;*/
  font-size: var(--font-size-xl);
  font-weight: 600;
}
.articles-200-et-238-bis-5-du-c,
.button1,
.dons-b,
.n-dordre-de-reu {
  /* position: absolute; */
  letter-spacing: 0.01em;
  color: var(--color-white);
  /* display: inline-block; */
  /* background-color:green; */
  /* margin-top:15%; */
}
.button1 {
  border: 0;
  padding: 0;
  /* background-color: transparent; */
  /* top: 35%; */
/*  left: 1178.34px;*/
  font-size: var(--font-size-xl);
  font-weight: 600;
  font-family: var(--font-inter);
  /* text-align: right; */
}
.articles-200-et-238-bis-5-du-c,
.dons-b {
  text-align: center;
}
.dons-b {
  /* top: 35%; */
/*  left: 694.11px;*/
    font-size: var(--font-size-xl);
    margin-left: 8%;
    text-align: center;
}
.articles-200-et-238-bis-5-du-c {
  /* top: 37%; */
/*  left: 535.6px;*/
  font-size: 15px;
  font-weight: 500;
}
.le-bnficiaire-reconnat {
  margin-block-start: 0;
  margin-block-end: 0;
}
.date-de-paiement {
  margin: 0;
}
.le-bnficiaire-reconnat-container {
  /* line-break: anywhere; */
  width: 100%;
}
.le-bnficiaire-reconnat-avoi {
  position: absolute;
  /* top: 1412.9px; */
  left: 104.49px;
  letter-spacing: 0.01em;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 1153.73px;
}
.le-document-cerfa-ci-dessous-e,
.mode-de-versement {
  position: absolute;
/*
  top: 1635.04px;
  left: 104.49px;
*/
  letter-spacing: 0.01em;
  font-weight: 600;
  display: inline-block;
}
.le-document-cerfa-ci-dessous-e {
/*
  top: 721.68px;
  left: 459.19px;
*/
  left: 35%;
  font-size: 16.37px;
  color: var(--color-gray-200);
  text-align: center;
  margin-top:1%;
}
.vector-icon2,
.vector-icon3 {
  position: absolute;
  /* top: 35.5%; */
  left: 94.38px;
  width: 91.14px;
  height: 45.2px;
  /* background-color: red; */
  margin-top:1%;
}
.vector-icon3 {
  top: 949.12px;
  left: 106.94px;
  width: 964.39px;
  height: 47.47px;
}
.rue-du-4-septembre {
  font-weight: 600;
}
.span {
  font-family: var(--font-inter);
}
.keren-kayemeth-leisral-11-rue {
  position: absolute;
  /* top: 933.2px; */
  left: 5%;
  letter-spacing: 0.01em;
  line-height: 28.37px;
  display: inline-block;
}
.france-span1 {
  font-weight: 600;
  font-family: var(--font-inter);
}
.malkiel-vadna-11-passage-de {
  position: absolute;
  /* top: 933.2px; */
  left: 65%;
  letter-spacing: 0.01em;
  line-height: 28.37px;
  display: inline-block;
}
.malkiel-vadna-11-passage-de-f {
  position: absolute;
  /* top: 15%; */
  left: 65%;
  font-size: var(--font-size-xl);
  letter-spacing: 0.01em;
  line-height: 38.19px;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
}
.association-dintrt-gnral {
  position: absolute;
  top: 1143.1px;
  left: 226.71px;
  font-size: 19.1px;
  letter-spacing: 0.01em;
  line-height: 28.37px;
  font-weight: 600;
  display: flex;
  align-items: flex-end;
  width: 471.97px;
  height: 58.38px;
}
.rectangle-div1 {
  position: absolute;
  top: calc(45% - -354.11px);
  background-color: var(--color-gray-100);
  width: 100%;
  height: 1.36px;
}
.rectangle-div2 {
  position: absolute;
  /* top: 31%; */
  left: -0.27px;
  border: 2.7px dashed var(--color-gray-200);
  box-sizing: border-box;
  width: 100%;
  height: 2.73px;
}
.numraire-div {
  position: absolute;
  height: 95.3%;
  width: 70.65%;
  top: 1.27%;
  right: 0;
  bottom: 3.43%;
  left: 29.35%;
  letter-spacing: 0.01em;
  font-weight: 500;
  display: inline-block;
}
.rectangle-div3 {
  position: absolute;
  height: 100%;
  width: 17.36%;
  top: 0;
  right: 82.64%;
  bottom: 0;
  left: 0;
  border-radius: var(--br-sm);
  border: 1.9px solid var(--color-gray-400);
  box-sizing: border-box;
}
.group-div {
  position: relative;
  width: 157.11px;
  height: 27.28px;
  flex-shrink: 0;
}
.chque-ou-virement {
  position: absolute;
  height: 95.3%;
  width: 82.34%;
  top: 1.27%;
  right: 0;
  bottom: 3.43%;
  left: 17.66%;
  letter-spacing: 0.01em;
  font-weight: 500;
  display: inline-block;
}
.rectangle-div4 {
  position: absolute;
  height: 100%;
  width: 10.45%;
  top: 0;
  right: 89.55%;
  bottom: 0;
  left: 0;
  border-radius: var(--br-sm);
  border: 1.9px solid var(--color-gray-400);
  box-sizing: border-box;
}
.group-div1 {
  position: relative;
  width: 261.11px;
  height: 27.28px;
  flex-shrink: 0;
}
.carte-bancaire-div {
  position: absolute;
  height: 95.3%;
  width: 77.41%;
  top: 1.27%;
  right: 0;
  bottom: 3.43%;
  left: 22.59%;
  letter-spacing: 0.01em;
  font-weight: 500;
  display: inline-block;
}
.rectangle-div5 {
  position: absolute;
  height: 100%;
  width: 13.37%;
  top: 0;
  right: 86.63%;
  bottom: 0;
  left: 0;
  border-radius: var(--br-sm);
  border: 1.9px solid var(--color-gray-400);
  box-sizing: border-box;
}
.group-div2 {
  position: relative;
  width: 204.11px;
  height: 27.28px;
  flex-shrink: 0;
}
.autre-div {
  position: absolute;
  height: 95.3%;
  width: 56.13%;
  top: 1.27%;
  right: 0;
  bottom: 3.43%;
  left: 43.87%;
  letter-spacing: 0.01em;
  font-weight: 500;
  display: inline-block;
}
.rectangle-input {
  cursor: pointer;
  position: absolute;
  height: 100%;
  width: 25.96%;
  top: 0;
  right: 74.04%;
  bottom: 0;
  left: 0;
  border-radius: var(--br-sm);
  border: 1.9px solid var(--color-gray-400);
  box-sizing: border-box;
}
.group-div3 {
  position: relative;
  width: 105.11px;
  height: 27.28px;
  flex-shrink: 0;
}
.frame-div1 {
  position: absolute;
  /* top: 1597.4px; */
  left: 104.49px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 177.33px;
  margin-top:41%;
}
.sauf-dans-le-cadre-du-compte-d {
  position: absolute;
  top: 1725.63px;
  left: 150.59px;
  font-size: 13.64px;
  letter-spacing: 0.01em;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 161.23px;
}
.abonnement-au-journal-adama,
.div {
  position: relative;
  letter-spacing: 0.01em;
  font-weight: 500;
  display: inline-block;
}
.abonnement-au-journal-adama {
  display: none;
}
.frame-div2 {
  position: absolute;
/*  top: 76.93px;*/
  right: 103.12px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 5.46px;
  text-align: right;
  color: var(--color-gray-200);
}
.vector-icon4 {
  position: absolute;
  top: 1883.91px;
  left: 466.1px;
  width: 570.82px;
  height: 188.01px;
}
.rectangle-div6 {
  top: -6.37px;
  left: 6.37px;
  background-color: var(--color-gray-400);
  width: 1.36px;
  transform: rotate(-45deg);
}
.group-div4,
.rectangle-div6,
.rectangle-div8 {
  position: absolute;
  height: 19.37px;
  transform-origin: 0 0;
}
.rectangle-div8 {
  top: 7.33px;
  left: 7.33px;
  background-color: var(--color-gray-400);
  width: 1.36px;
  transform: rotate(-135deg);
}
.group-div4 {
  top: 1708.14px;
  left: 104.49px;
  width: 19.37px;
  transform: rotate(-45deg);
}
.blank-line-span {
  font-weight: 500;
}
.blank-line-p3 {
  margin-block-start: 0;
  margin-block-end: 0;
  color: var(--color-gray-300);
}
.chere-malkiel-vadna-le-kkl,
.div1 {
  position: absolute;
  letter-spacing: 0.01em;
}
.chere-malkiel-vadna-le-kkl {
  left: 99.03px;
  display: flex;
  align-items: center;
  width: 709.4px;
}
.div1 {
  /* top: 32%; */
  left: 5%;
  font-size: var(--font-size-xl);
  line-height: 28.37px;
  font-family: var(--font-sf-pro);
  display: inline-block;
  transform: rotate(-90deg);
  transform-origin: 0 0;
  margin-top:1%;
}
.cerfa-malki-div {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 2656px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-gray-400);
  font-family: var(--font-inter);
}
