body {
  margin: 0;
  line-height: normal;
}
.bas-div1,
.haut-div1,
.milieu-div1 {
  position: absolute;
  height: 123.45%;
  width: 370.54%;
  top: 246.88%;
  right: -270.54%;
  bottom: -270.33%;
  left: 0;
  background-color: var(--color-gray-500);
  display: none;
}
.haut-div1,
.milieu-div1 {
  top: 0;
  bottom: -23.45%;
  background-color: var(--color-red);
}
.milieu-div1 {
  top: 123.42%;
  bottom: -146.86%;
  background-color: var(--color-green);
}
.rectangle-div9 {
  position: absolute;
  top: 749.31px;
  left: 0;
  background-color: var(--color-indigo);
  width: 1487.81px;
  height: 101.26px;
}
.vector-icon5,
.vector-icon6 {
  position: absolute;
  top: 76.15px;
  left: 697.73px;
  width: 92.35px;
  height: 117.73px;
}
.vector-icon6 {
  top: 1196.19px;
  left: 105.85px;
}
.cerfa-div1,
.div2 {
  position: relative;
  letter-spacing: 0.01em;
  font-weight: 600;
  display: inline-block;
}
.div2 {
  font-size: 22.95px;
  font-weight: 500;
  text-align: center;
}
.frame-div3 {
  position: absolute;
  top: 76.15px;
  left: 98.02px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 54px;
  color: var(--color-indigo);
}
.n-dordre-de-reu1 {
  top: 766.87px;
  left: 1114.91px;
  font-size: var(--font-size-2xl);
  font-weight: 600;
}
.articles-200-et-238-bis-5-du-c1,
.dons-b1,
.n-dordre-de-reu1,
.p1 {
  position: absolute;
  letter-spacing: 0.01em;
  color: var(--color-white);
  display: inline-block;
}
.p1 {
  margin: 0;
  top: 799.54px;
  left: 1166.27px;
  font-size: var(--font-size-2xl);
  font-weight: 600;
  text-align: right;
}
.articles-200-et-238-bis-5-du-c1,
.dons-b1 {
  text-align: center;
}
.dons-b1 {
  top: 773.35px;
  left: 686.47px;
  font-size: var(--font-size-2xl);
}
.articles-200-et-238-bis-5-du-c1 {
  top: 807.71px;
  left: 530.1px;
  font-size: 14.85px;
  font-weight: 500;
}
.le-bnficiaire-reconnat1 {
  margin-block-start: 0;
  margin-block-end: 0;
}
.date-de-paiement1 {
  margin: 0;
}
.le-bnficiaire-reconnat-container1 {
  line-break: anywhere;
  width: 100%;
}
.le-bnficiaire-reconnat-avoi1 {
  position: absolute;
  top: 1491.9px;
  left: 103.42px;
  letter-spacing: 0.01em;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 1141.91px;
}
.le-document-cerfa-ci-dessous-e1,
.mode-de-versement1 {
  position: absolute;
  top: 1618.77px;
  left: 103.42px;
  letter-spacing: 0.01em;
  font-weight: 600;
  display: inline-block;
}
.le-document-cerfa-ci-dessous-e1 {
  top: 714.28px;
  left: 453.95px;
  font-size: 16.2px;
  color: var(--color-gray-200);
  text-align: center;
}
.logo-cerfasvg-2-1-icon {
  position: absolute;
  top: 772.8px;
  left: 87.76px;
  width: 102.07px;
  height: 54.27px;
  overflow: hidden;
}
.rectangle-div10,
.rectangle-div11 {
  position: absolute;
  top: 939.4px;
  left: 105.85px;
  border-radius: var(--br-lg);
  background-color: var(--color-indigo);
  width: 218.72px;
  height: 46.98px;
}
.rectangle-div11 {
  left: 880.81px;
  width: 179.56px;
}
.bneficiaire,
.donateur-b {
  position: absolute;
  top: 946.16px;
  font-size: var(--font-size-2xl);
  letter-spacing: 0.01em;
  display: inline-block;
  color: var(--color-white);
}
.bneficiaire {
  left: 119.47px;
  text-align: center;
}
.donateur-b {
  left: 896.47px;
}
.keren-kayemeth-leisral3 {
  font-weight: 600;
}
.span3 {
  font-family: var(--font-inter);
}
.keren-kayemeth-leisral-11-rue1 {
  position: absolute;
  top: 1011.76px;
  left: 105.85px;
  letter-spacing: 0.01em;
  line-height: 28.08px;
  display: inline-block;
}
.france-span3 {
  font-weight: 600;
  font-family: var(--font-inter);
}
.malkiel-vadna-11-passage-de1 {
  position: absolute;
  top: 1011.76px;
  left: 880.81px;
  letter-spacing: 0.01em;
  line-height: 28.08px;
  display: inline-block;
}
.dr-robert-zbili-prsident-du {
  position: absolute;
  top: 1885.28px;
  left: 734.99px;
  letter-spacing: 0.01em;
  display: inline-block;
  font-weight: 500;
}
.malkiel-vadna-11-passage-de-f1 {
  position: absolute;
  top: calc(50% - 732.93px);
  left: calc(50% - -170.52px);
  font-size: var(--font-size-2xl);
  letter-spacing: 0.01em;
  line-height: 37.8px;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
}
.association-dintrt-gnral2 {
  position: absolute;
  top: 1256.13px;
  left: 224.39px;
  font-size: 18.9px;
  letter-spacing: 0.01em;
  line-height: 28.08px;
  font-weight: 600;
  display: flex;
  align-items: flex-end;
  width: 467.13px;
  height: 57.78px;
}
.rectangle-div12,
.rectangle-div13 {
  position: absolute;
  top: calc(50% - -350.62px);
  left: calc(50% - 743.5px);
  background-color: var(--color-gray-100);
  width: 1487.81px;
  height: 1.35px;
}
.rectangle-div13 {
  top: calc(50% - -1037.87px);
  left: calc(50% - 745.5px);
}
.rectangle-div14 {
  position: absolute;
  top: 698.81px;
  left: -0.27px;
  border: 2.7px dashed var(--color-gray-200);
  box-sizing: border-box;
  width: 1487.81px;
  height: 2.7px;
}
.numraire-div1 {
  position: absolute;
  height: 96.29%;
  width: 70.49%;
  top: 3%;
  right: 0;
  bottom: 0.71%;
  left: 29.51%;
  letter-spacing: 0.01em;
  font-weight: 500;
  display: inline-block;
}
.rectangle-div15 {
  position: absolute;
  height: 100%;
  width: 17.46%;
  top: 0;
  right: 82.54%;
  bottom: 0;
  left: 0;
  border-radius: var(--br-md);
  border: 1.9px solid var(--color-gray-400);
  box-sizing: border-box;
}
.group-div5 {
  position: relative;
  width: 154.63px;
  height: 27px;
  flex-shrink: 0;
}
.chque-ou-virement1 {
  position: absolute;
  height: 96.29%;
  width: 82.36%;
  top: 3%;
  right: 0;
  bottom: 0.71%;
  left: 17.64%;
  letter-spacing: 0.01em;
  font-weight: 500;
  display: inline-block;
}
.rectangle-div16 {
  position: absolute;
  height: 100%;
  width: 10.44%;
  top: 0;
  right: 89.56%;
  bottom: 0;
  left: 0;
  border-radius: var(--br-md);
  border: 1.9px solid var(--color-gray-400);
  box-sizing: border-box;
}
.group-div6 {
  position: relative;
  width: 258.63px;
  height: 27px;
  flex-shrink: 0;
}
.carte-bancaire-div1 {
  position: absolute;
  height: 96.29%;
  width: 77.48%;
  top: 3%;
  right: 0;
  bottom: 0.71%;
  left: 22.52%;
  letter-spacing: 0.01em;
  font-weight: 500;
  display: inline-block;
}
.rectangle-div17 {
  position: absolute;
  height: 100%;
  width: 13.33%;
  top: 0;
  right: 86.67%;
  bottom: 0;
  left: 0;
  border-radius: var(--br-md);
  border: 1.9px solid var(--color-gray-400);
  box-sizing: border-box;
}
.group-div7 {
  position: relative;
  width: 202.63px;
  height: 27px;
  flex-shrink: 0;
}
.autre-div1 {
  position: absolute;
  height: 96.29%;
  width: 55.97%;
  top: 3%;
  right: 0;
  bottom: 0.71%;
  left: 44.03%;
  letter-spacing: 0.01em;
  font-weight: 500;
  display: inline-block;
}
.rectangle-div18 {
  position: absolute;
  height: 100%;
  width: 26.06%;
  top: 0;
  right: 73.94%;
  bottom: 0;
  left: 0;
  border-radius: var(--br-md);
  border: 1.9px solid var(--color-gray-400);
  box-sizing: border-box;
}
.group-div8 {
  position: relative;
  width: 103.63px;
  height: 27px;
  flex-shrink: 0;
}
.frame-div4 {
  position: absolute;
  top: 1677.09px;
  left: 103.42px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 175.51px;
}
.sauf-dans-le-cadre-du-compte-d1 {
  position: absolute;
  top: 1707.92px;
  left: 149.05px;
  font-size: 13.5px;
  letter-spacing: 0.01em;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 159.58px;
}
.abonnement-au-journal-adama1,
.div3 {
  position: relative;
  letter-spacing: 0.01em;
  font-weight: 500;
  display: inline-block;
}
.abonnement-au-journal-adama1 {
  display: none;
}
.frame-div5 {
  position: absolute;
  top: 76.15px;
  right: 102.07px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 5.4px;
  text-align: right;
  color: var(--color-gray-200);
}
.vector-icon7 {
  position: absolute;
  top: calc(50% - -812.49px);
  left: calc(50% - 282.17px);
  width: 298.91px;
  height: 187.97px;
}
.rectangle-div19 {
  top: -6.3px;
  left: 6.3px;
  background-color: var(--color-gray-400);
  width: 1.35px;
  transform: rotate(-45deg);
}
.group-div9,
.rectangle-div19,
.rectangle-div21 {
  position: absolute;
  height: 19.17px;
  transform-origin: 0 0;
}
.rectangle-div21 {
  top: 7.26px;
  left: 7.26px;
  background-color: var(--color-gray-400);
  width: 1.35px;
  transform: rotate(-135deg);
}
.group-div9 {
  top: 1690.65px;
  left: 103.42px;
  width: 19.17px;
  transform: rotate(-45deg);
}
.chere-malkiel-vadna3 {
  font-weight: 500;
}
.blank-line-p7 {
  margin-block-start: 0;
  margin-block-end: 0;
  color: var(--color-gray-300);
}
.chere-malkiel-vadna-le-kkl1,
.div4 {
  position: absolute;
  letter-spacing: 0.01em;
}
.chere-malkiel-vadna-le-kkl1 {
  top: 205.52px;
  left: 98.02px;
  display: flex;
  align-items: center;
  width: 575.41px;
}
.div4 {
  top: calc(50% - 338.47px);
  left: calc(50% - 700.3px);
  font-size: var(--font-size-2xl);
  line-height: 28.08px;
  font-family: var(--font-sf-pro);
  display: inline-block;
  transform: rotate(-90deg);
  transform-origin: 0 0;
}
.cerfa-malki-div1 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 2104.27px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-gray-400);
  font-family: var(--font-inter);
}
