:root {
  /* fonts */
  --font-sf-pro: "SF Pro";
  --font-inter: Inter;

  /* font sizes */
  --font-size-base: 46.2px;
  --font-size-lg: 57.74px;

  /* Colors */
  --color-white: #fff;
  --color-gray-100: #adadad;
  --color-gray-200: #465071;
  --color-indigo: #0a7aff;

  /* border radiuses */
  --br-md: 5.77px;
}
