body {
  margin: 0;
  line-height: normal;
}
.bas-div,
.haut-div,
.milieu-div {
  position: absolute;
  height: 57.73%;
  width: 173.27%;
  top: 115.44%;
  right: -73.27%;
  bottom: -73.17%;
  left: 0;
  background-color: rgba(175, 183, 198, 0.2);
  display: none;
}
.haut-div,
.milieu-div {
  top: 0;
  bottom: 42.27%;
  background-color: rgba(251, 37, 37, 0.2);
}
.milieu-div {
  top: 57.71%;
  bottom: -15.44%;
  background-color: rgba(83, 206, 40, 0.2);
}
.rectangle-div {
  position: absolute;
  top: 1602.42px;
  left: 0;
  background-color: var(--color-indigo);
  width: 3181.74px;
  height: 216.54px;
}
.vector-icon,
.vector-icon1 {
  position: absolute;
  top: 162.84px;
  left: 1492.13px;
  width: 197.49px;
  height: 251.77px;
}
.vector-icon1 {
  top: 2558.1px;
  left: 226.36px;
}
.cerfa-div {
  position: relative;
  letter-spacing: 0.01em;
  font-weight: 600;
  display: inline-block;
}
.button,
.frame-div {
  color: var(--color-indigo);
}
.button {
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  font-size: 49.08px;
  letter-spacing: 0.01em;
  font-weight: 500;
  font-family: var(--font-inter);
  text-align: center;
  display: inline-block;
}
.frame-div {
  position: absolute;
  top: 162.84px;
  left: 209.61px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 115.49px;
}
.n-dordre-de-reu {
  top: 1639.9px;
  left: 2384.29px;
  font-size: var(--font-size-lg);
  font-weight: 600;
}
.articles-200-et-238-bis-5-du-c,
.button1,
.dons-b,
.n-dordre-de-reu {
  position: absolute;
  letter-spacing: 0.01em;
  color: var(--color-white);
  display: inline-block;
}
.button1 {
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 1709.77px;
  left: 2496.25px;
  font-size: var(--font-size-lg);
  font-weight: 600;
  font-family: var(--font-inter);
  text-align: right;
}
.articles-200-et-238-bis-5-du-c,
.dons-b {
  text-align: center;
}
.dons-b {
  top: 1653.76px;
  left: 1469.19px;
  font-size: var(--font-size-lg);
}
.articles-200-et-238-bis-5-du-c {
  top: 1728.25px;
  left: 1135.78px;
  font-size: 31.76px;
  font-weight: 500;
}
.le-bnficiaire-reconnat {
  margin-block-start: 0;
  margin-block-end: 0;
}
.date-de-paiement {
  margin: 0;
}
.le-bnficiaire-reconnat-container {
  line-break: anywhere;
  width: 100%;
}
.le-bnficiaire-reconnat-avoi {
  position: absolute;
  top: 3191.72px;
  left: 221.16px;
  letter-spacing: 0.01em;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 2442.03px;
}
.le-document-cerfa-ci-dessous-e,
.mode-de-versement {
  position: absolute;
  top: 3460.81px;
  left: 221.16px;
  letter-spacing: 0.01em;
  font-weight: 600;
  display: inline-block;
}
.le-document-cerfa-ci-dessous-e {
  top: 1529.66px;
  left: 971.94px;
  font-size: 34.65px;
  color: var(--color-gray-100);
  text-align: center;
}
.vector-icon2,
.vector-icon3 {
  position: absolute;
  top: 1662.17px;
  left: 199.78px;
  width: 192.91px;
  height: 95.68px;
}
.vector-icon3 {
  top: 2008.94px;
  left: 226.36px;
  width: 2041.28px;
  height: 100.48px;
}
.rue-du-4-septembre {
  font-weight: 600;
}
.span {
  font-family: var(--font-inter);
}
.keren-kayemeth-leisral-11-rue {
  position: absolute;
  top: 2163.7px;
  left: 226.36px;
  letter-spacing: 0.01em;
  line-height: 60.05px;
  display: inline-block;
}
.france-span1 {
  font-weight: 600;
  font-family: var(--font-inter);
}
.malkiel-vadna-11-passage-de {
  position: absolute;
  top: 2163.7px;
  left: 1883.64px;
  letter-spacing: 0.01em;
  line-height: 60.05px;
  display: inline-block;
}
.malkiel-vadna-11-passage-de-f {
  position: absolute;
  top: calc(50% - 1566.46px);
  left: calc(50% - -364.66px);
  font-size: var(--font-size-lg);
  letter-spacing: 0.01em;
  line-height: 80.84px;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
}
.association-dintrt-gnral {
  position: absolute;
  top: 2686.29px;
  left: 479.86px;
  font-size: 40.42px;
  letter-spacing: 0.01em;
  line-height: 60.05px;
  font-weight: 600;
  display: flex;
  align-items: flex-end;
  width: 998.99px;
  height: 123.57px;
}
.rectangle-div1,
.rectangle-div2 {
  position: absolute;
  width: 3181.74px;
}
.rectangle-div1 {
  top: calc(50% - -749.53px);
  left: calc(50% - 1590.01px);
  background-color: #eceaea;
  height: 2.89px;
}
.rectangle-div2 {
  top: 1494.44px;
  left: -0.58px;
  border: 5.8px dashed var(--color-gray-100);
  box-sizing: border-box;
  height: 5.77px;
}
.numraire-div {
  position: absolute;
  height: 96.98%;
  width: 70.48%;
  top: 1.27%;
  right: 0;
  bottom: 1.75%;
  left: 29.52%;
  letter-spacing: 0.01em;
  font-weight: 500;
  display: inline-block;
}
.rectangle-div3 {
  position: absolute;
  height: 100%;
  width: 17.47%;
  top: 0;
  right: 82.53%;
  bottom: 0;
  left: 0;
  border-radius: var(--br-md);
  border: 4px solid var(--color-gray-200);
  box-sizing: border-box;
}
.group-div {
  position: relative;
  width: 330.59px;
  height: 57.74px;
  flex-shrink: 0;
}
.chque-ou-virement {
  position: absolute;
  height: 96.98%;
  width: 82.31%;
  top: 1.27%;
  right: 0;
  bottom: 1.75%;
  left: 17.69%;
  letter-spacing: 0.01em;
  font-weight: 500;
  display: inline-block;
}
.rectangle-div4 {
  position: absolute;
  height: 100%;
  width: 10.47%;
  top: 0;
  right: 89.53%;
  bottom: 0;
  left: 0;
  border-radius: var(--br-md);
  border: 4px solid var(--color-gray-200);
  box-sizing: border-box;
}
.group-div1 {
  position: relative;
  width: 551.59px;
  height: 57.74px;
  flex-shrink: 0;
}
.carte-bancaire-div {
  position: absolute;
  height: 96.98%;
  width: 77.39%;
  top: 1.27%;
  right: 0;
  bottom: 1.75%;
  left: 22.61%;
  letter-spacing: 0.01em;
  font-weight: 500;
  display: inline-block;
}
.rectangle-div5 {
  position: absolute;
  height: 100%;
  width: 13.38%;
  top: 0;
  right: 86.62%;
  bottom: 0;
  left: 0;
  border-radius: var(--br-md);
  border: 4px solid var(--color-gray-200);
  box-sizing: border-box;
}
.group-div2 {
  position: relative;
  width: 431.59px;
  height: 57.74px;
  flex-shrink: 0;
}
.autre-div {
  position: absolute;
  height: 96.98%;
  width: 55.76%;
  top: 1.27%;
  right: 0;
  bottom: 1.75%;
  left: 44.24%;
  letter-spacing: 0.01em;
  font-weight: 500;
  display: inline-block;
}
.rectangle-input {
  cursor: pointer;
  position: absolute;
  height: 100%;
  width: 26.18%;
  top: 0;
  right: 73.82%;
  bottom: 0;
  left: 0;
  border-radius: var(--br-md);
  border: 4px solid var(--color-gray-200);
  box-sizing: border-box;
}
.group-div3 {
  position: relative;
  width: 220.59px;
  height: 57.74px;
  flex-shrink: 0;
}
.frame-div1 {
  position: absolute;
  top: 3586.54px;
  left: 221.16px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 375.34px;
}
.sauf-dans-le-cadre-du-compte-d {
  position: absolute;
  top: 3654.67px;
  left: 318.75px;
  font-size: 28.87px;
  letter-spacing: 0.01em;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 341.27px;
}
.abonnement-au-journal-adama,
.div {
  position: relative;
  letter-spacing: 0.01em;
  font-weight: 500;
  display: inline-block;
}
.abonnement-au-journal-adama {
  display: none;
}
.frame-div2 {
  position: absolute;
  top: 162.84px;
  right: 218.28px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 11.55px;
  text-align: right;
  color: var(--color-gray-100);
}
.vector-icon4 {
  position: absolute;
  top: 3987.57px;
  left: 986.57px;
  width: 1208.22px;
  height: 397.95px;
}
.rectangle-div6 {
  top: -13.47px;
  left: 13.47px;
  background-color: var(--color-gray-200);
  width: 2.89px;
  transform: rotate(-45deg);
}
.group-div4,
.rectangle-div6,
.rectangle-div8 {
  position: absolute;
  height: 41px;
  transform-origin: 0 0;
}
.rectangle-div8 {
  top: 15.52px;
  left: 15.52px;
  background-color: var(--color-gray-200);
  width: 2.89px;
  transform: rotate(-135deg);
}
.group-div4 {
  top: 3615.53px;
  left: 221.16px;
  width: 41px;
  transform: rotate(-45deg);
}
.blank-line-span {
  font-weight: 500;
}
.blank-line-p3 {
  margin-block-start: 0;
  margin-block-end: 0;
  color: #7b8a71;
}
.chere-malkiel-vadna-le-kkl,
.div1 {
  position: absolute;
  letter-spacing: 0.01em;
}
.chere-malkiel-vadna-le-kkl {
  top: 438.65px;
  left: 209.61px;
  display: flex;
  align-items: center;
  width: 1230.54px;
}
.div1 {
  top: calc(50% - 724.12px);
  left: calc(50% - 1497.61px);
  font-size: var(--font-size-lg);
  line-height: 60.05px;
  font-family: var(--font-sf-pro);
  display: inline-block;
  transform: rotate(-90deg);
  transform-origin: 0 0;
}
.cerfa-malki-div {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 4277.74px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-gray-200);
  font-family: var(--font-inter);
}
