body {
  margin: 0;
  line-height: normal;
}
.autre-div1,
.carte-bancaire-div1,
.chque-ou-virement1,
.numraire-div1 {
  position: absolute;
  height: 2.25%;
  width: 6.89%;
  top: 66.53%;
  right: 82.7%;
  bottom: 31.22%;
  left: 10.41%;
  letter-spacing: 0.01em;
  font-weight: 500;
  display: inline-block;
}
.autre-div1,
.carte-bancaire-div1,
.chque-ou-virement1 {
  width: 13.27%;
  right: 54.14%;
  left: 32.59%;
}
.autre-div1,
.carte-bancaire-div1 {
  width: 9.74%;
  right: 29.11%;
  left: 61.14%;
}
.autre-div1 {
  width: 3.7%;
  right: 9.29%;
  left: 87.01%;
}
.le-bnficiaire-reconnat1 {
  margin-block-start: 0;
  margin-block-end: 0;
}
.date-de-paiement1 {
  margin: 0;
}
.le-bnficiaire-reconnat-container1 {
  line-break: anywhere;
  width: 100%;
}
.le-bnficiaire-reconnat-avoi1 {
  position: absolute;
  height: 4.49%;
  width: 62.15%;
  top: 49.91%;
  right: 30.63%;
  bottom: 45.6%;
  left: 7.22%;
  letter-spacing: 0.01em;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.dr-robert-zbili-prsident-du,
.mode-de-versement1 {
  position: absolute;
  height: 2.25%;
  width: 13.94%;
  top: 61.14%;
  right: 79%;
  bottom: 36.61%;
  left: 7.05%;
  letter-spacing: 0.01em;
  font-weight: 600;
  display: inline-block;
}
.dr-robert-zbili-prsident-du {
  height: 4.49%;
  width: 18.14%;
  top: 85.18%;
  right: 32.64%;
  bottom: 10.32%;
  left: 49.22%;
  font-weight: 500;
}
.vector-input,
.vector-input1,
.vector-input2 {
  cursor: pointer;
  position: absolute;
  height: 2.48%;
  width: 1.86%;
  top: 66.3%;
  right: 91.21%;
  bottom: 31.22%;
  left: 6.93%;
  border: 1px solid var(--color-gray-400);
  box-sizing: border-box;
}
.vector-input1,
.vector-input2 {
  right: 69.02%;
  left: 29.13%;
}
.vector-input2 {
  right: 39.87%;
  left: 58.27%;
}
.vector-icon5,
.vector-icon6,
.vector-icon7,
.vector-icon8,
.vector-icon9 {
  position: absolute;
  height: 2.48%;
  width: 1.86%;
  top: 66.3%;
  right: 14.5%;
  bottom: 31.22%;
  left: 83.65%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon6,
.vector-icon7,
.vector-icon8,
.vector-icon9 {
  height: 8.76%;
  width: 20.13%;
  top: 84.23%;
  right: 48.88%;
  bottom: 7.01%;
  left: 30.99%;
}
.vector-icon7,
.vector-icon8,
.vector-icon9 {
  height: 16.96%;
  width: 9.63%;
  top: 83.16%;
  right: 52.06%;
  bottom: -0.11%;
  left: 38.31%;
}
.vector-icon8,
.vector-icon9 {
  height: 2.68%;
  width: 5.58%;
  top: 90.24%;
  right: 51.38%;
  bottom: 7.08%;
  left: 43.04%;
}
.vector-icon9 {
  height: 0.12%;
  width: 100%;
  top: 41.66%;
  right: 0;
  bottom: 58.22%;
  left: 0;
}
.association-dintrt-gnral2 {
  position: absolute;
  height: 3.6%;
  width: 29.23%;
  top: 29.68%;
  right: 55.49%;
  bottom: 66.72%;
  left: 15.29%;
  font-size: 7px;
  letter-spacing: 0.01em;
  font-weight: 600;
  display: inline-block;
}
.vector-icon10,
.vector-icon11,
.vector-icon12,
.vector-icon13 {
  position: absolute;
  height: 3.15%;
  width: 2.69%;
  top: 28.34%;
  right: 87.4%;
  bottom: 68.52%;
  left: 9.91%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon11,
.vector-icon12,
.vector-icon13 {
  height: 4.49%;
  width: 2.02%;
  top: 23.62%;
  right: 86.56%;
  bottom: 71.89%;
  left: 11.42%;
}
.vector-icon12,
.vector-icon13 {
  height: 4.94%;
  width: 4.03%;
  top: 23.17%;
  left: 9.41%;
}
.vector-icon13 {
  height: 3.15%;
  width: 2.69%;
  top: 28.34%;
  right: 89.42%;
  bottom: 68.52%;
  left: 7.89%;
}
.vector-icon14,
.vector-icon15,
.vector-icon16,
.vector-icon17,
.vector-icon18,
.vector-icon20,
.vector-icon21 {
  position: absolute;
  height: 2.02%;
  width: 1.51%;
  top: 31.71%;
  right: 86.56%;
  bottom: 66.27%;
  left: 11.93%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon15,
.vector-icon16,
.vector-icon17,
.vector-icon18,
.vector-icon20,
.vector-icon21 {
  width: 2.18%;
  right: 88.24%;
  left: 9.57%;
}
.vector-icon16,
.vector-icon17,
.vector-icon18,
.vector-icon20,
.vector-icon21 {
  width: 2.35%;
  right: 90.59%;
  left: 7.05%;
}
.vector-icon17,
.vector-icon18,
.vector-icon20,
.vector-icon21 {
  height: 4.94%;
  width: 4.2%;
  top: 23.17%;
  right: 88.75%;
  bottom: 71.89%;
}
.vector-icon18,
.vector-icon20,
.vector-icon21 {
  height: 4.27%;
  width: 2.52%;
  top: 23.62%;
  right: 90.09%;
  bottom: 72.11%;
  left: 7.39%;
}
.vector-icon20,
.vector-icon21 {
  height: 2.7%;
  width: 1.51%;
  top: 28.78%;
  right: 91.43%;
  bottom: 68.52%;
  left: 7.05%;
}
.vector-icon21 {
  height: 3.37%;
  width: 1.85%;
  top: 28.11%;
  right: 86.56%;
  left: 11.59%;
}
.vector-button,
.vector-button1 {
  border: 0;
  padding: 0;
  background-color: var(--color-indigo);
  position: absolute;
  height: 4.22%;
  width: 14.7%;
  top: 0;
  right: 78.19%;
  bottom: 95.78%;
  left: 7.11%;
}
.vector-button1 {
  width: 12.07%;
  right: 28.73%;
  left: 59.2%;
}
.keren-kayemeth-leisral3 {
  font-weight: 600;
}
.span3 {
  font-family: var(--font-inter);
}
.keren-kayemeth-leisral-11-rue1 {
  position: absolute;
  height: 6.74%;
  width: 31.24%;
  top: 6.77%;
  right: 61.37%;
  bottom: 86.49%;
  left: 7.39%;
  letter-spacing: 0.01em;
  display: inline-block;
}
.france-span3 {
  font-weight: 600;
  font-family: var(--font-inter);
}
.bneficiaire,
.donateur-b,
.malkiel-vadna-11-passage-de1 {
  position: absolute;
  letter-spacing: 0.01em;
  display: inline-block;
}
.malkiel-vadna-11-passage-de1 {
  height: 6.74%;
  width: 15.29%;
  top: 6.99%;
  right: 25.42%;
  bottom: 86.27%;
  left: 59.3%;
}
.bneficiaire,
.donateur-b {
  height: 2.7%;
  top: 0.7%;
  bottom: 96.61%;
  font-size: var(--font-size-xs);
  color: var(--color-white);
}
.bneficiaire {
  width: 11.76%;
  right: 79.51%;
  left: 8.73%;
  text-align: center;
}
.donateur-b {
  width: 9.57%;
  right: 29.62%;
  left: 60.81%;
}
.bas-div1 {
  position: absolute;
  height: 52.86%;
  width: 100.05%;
  top: 44.64%;
  right: -0.05%;
  bottom: 2.5%;
  left: 0;
}
.rectangle-div9 {
  position: absolute;
  top: 25.24px;
  left: 0;
  background-color: var(--color-indigo);
  width: 595px;
  height: 40px;
}
.vector-icon22 {
  height: 2.36%;
  width: 100%;
  top: 7.1%;
  right: 0;
  bottom: 90.54%;
  left: 0;
}
.vector-icon22,
.vector-icon23,
.vector-icon24,
.vector-icon25,
.vector-icon26 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon23 {
  height: 16.56%;
  width: 1.82%;
  top: 0;
  right: 95.24%;
  bottom: 83.44%;
  left: 2.94%;
  object-fit: cover;
}
.vector-icon24,
.vector-icon25,
.vector-icon26 {
  height: 27.44%;
  width: 6.07%;
  top: 55.56%;
  right: 87.65%;
  bottom: 17%;
  left: 6.28%;
}
.vector-icon25,
.vector-icon26 {
  height: 20.21%;
  width: 4.63%;
  top: 59.96%;
  right: 88.34%;
  bottom: 19.83%;
  left: 7.03%;
}
.vector-icon26 {
  height: 8.28%;
  width: 3.09%;
  top: 66.09%;
  right: 88.62%;
  bottom: 25.63%;
  left: 8.29%;
}
.le-document-cerfa-ci-dessous-e1 {
  position: absolute;
  height: 10.73%;
  width: 35.97%;
  top: 18.76%;
  right: 32.27%;
  bottom: 70.51%;
  left: 31.76%;
  font-size: 6px;
  letter-spacing: 0.01em;
  font-weight: 600;
  color: var(--color-gray-200);
  display: inline-block;
}
.n-dordre-de-reu1 {
  top: 31.24px;
  left: 459px;
  font-weight: 600;
  text-align: left;
}
.articles-200-et-238-bis-5-du-c1,
.div2,
.dons-b1,
.n-dordre-de-reu1 {
  position: absolute;
  letter-spacing: 0.01em;
  display: inline-block;
}
.div2 {
  top: 44.54px;
  left: 479.45px;
  font-weight: 600;
  text-align: right;
}
.articles-200-et-238-bis-5-du-c1,
.dons-b1 {
  top: 31.24px;
  left: 271.56px;
  font-size: 12.1px;
}
.articles-200-et-238-bis-5-du-c1 {
  top: 46.85px;
  left: 204px;
  font-size: 6.66px;
  font-weight: 500;
}
.milieu-div1 {
  position: absolute;
  top: 274.76px;
  left: 0;
  width: 595px;
  height: 65.24px;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-white);
}
.cerfa-div1 {
  height: 11.16%;
  width: 12.77%;
  top: 0;
  right: 86.85%;
  bottom: 88.84%;
  left: 0.39%;
  font-size: 20px;
  font-weight: 600;
}
.cerfa-div1,
.div3,
.malkiel-vadna-11-passage-de-f1 {
  position: absolute;
  letter-spacing: 0.01em;
  display: inline-block;
}
.div3 {
  height: 4.65%;
  width: 13.93%;
  top: 11.63%;
  right: 86.07%;
  bottom: 83.72%;
  left: 0;
  font-size: 8.5px;
  font-weight: 500;
  text-align: center;
}
.malkiel-vadna-11-passage-de-f1 {
  height: 22.33%;
  width: 24.76%;
  top: 47.44%;
  right: 11.61%;
  bottom: 30.23%;
  left: 63.64%;
  font-size: var(--font-size-xs);
  text-transform: uppercase;
  font-weight: 600;
  color: var(--color-gray-400);
}
.vector-icon27,
.vector-icon28,
.vector-icon29,
.vector-icon30,
.vector-icon31 {
  position: absolute;
  height: 6.51%;
  width: 3.09%;
  top: 10.7%;
  right: 46.81%;
  bottom: 82.79%;
  left: 50.1%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon28,
.vector-icon29,
.vector-icon30,
.vector-icon31 {
  height: 9.3%;
  width: 2.32%;
  top: 0.93%;
  right: 45.84%;
  bottom: 89.77%;
  left: 51.84%;
}
.vector-icon29,
.vector-icon30,
.vector-icon31 {
  height: 6.98%;
  width: 2.13%;
  top: 10.23%;
  bottom: 82.79%;
  left: 52.03%;
}
.vector-icon30,
.vector-icon31 {
  height: 10.23%;
  width: 4.64%;
  top: 0;
  bottom: 89.77%;
  left: 49.52%;
}
.vector-icon31 {
  height: 6.51%;
  width: 3.09%;
  top: 10.7%;
  right: 49.13%;
  bottom: 82.79%;
  left: 47.78%;
}
.vector-icon32,
.vector-icon33,
.vector-icon34,
.vector-icon35,
.vector-icon36,
.vector-icon37 {
  position: absolute;
  height: 4.19%;
  width: 1.74%;
  top: 17.67%;
  right: 45.84%;
  bottom: 78.14%;
  left: 52.42%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon33,
.vector-icon34,
.vector-icon35,
.vector-icon36,
.vector-icon37 {
  width: 2.51%;
  right: 47.78%;
  left: 49.71%;
}
.vector-icon34,
.vector-icon35,
.vector-icon36,
.vector-icon37 {
  width: 2.71%;
  right: 50.48%;
  left: 46.81%;
}
.vector-icon35,
.vector-icon36,
.vector-icon37 {
  height: 5.58%;
  width: 1.74%;
  top: 11.63%;
  right: 51.45%;
  bottom: 82.79%;
}
.vector-icon36,
.vector-icon37 {
  height: 10.23%;
  width: 4.84%;
  top: 0;
  right: 48.36%;
  bottom: 89.77%;
}
.vector-icon37 {
  height: 8.84%;
  width: 2.9%;
  top: 0.93%;
  right: 49.9%;
  bottom: 90.23%;
  left: 47.2%;
}
.div4,
.paris-le-020820221 {
  position: absolute;
  height: 4.65%;
  width: 3.48%;
  top: 0;
  right: 0;
  bottom: 95.35%;
  left: 96.52%;
  letter-spacing: 0.01em;
  font-weight: 500;
  color: var(--color-gray-200);
  text-align: right;
  display: inline-block;
}
.paris-le-020820221 {
  width: 14.7%;
  top: 5.58%;
  bottom: 89.77%;
  left: 85.3%;
}
.chere-malkiel-vadna3 {
  font-weight: 500;
}
.blank-line-p7 {
  margin-block-start: 0;
  margin-block-end: 0;
  color: var(--color-gray-300);
}
.chere-malkiel-vadna-le-kkl1 {
  position: absolute;
  height: 74.42%;
  width: 40.43%;
  top: 25.58%;
  right: 59.38%;
  bottom: 0;
  left: 0.19%;
  letter-spacing: 0.01em;
  display: flex;
  align-items: center;
  color: var(--color-gray-400);
}
.headers-div {
  position: absolute;
  height: 25.53%;
  width: 86.89%;
  top: 3.68%;
  right: 6.89%;
  bottom: 70.78%;
  left: 6.22%;
  color: var(--color-indigo);
}
.a4-1 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 842px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-2xs);
  color: var(--color-gray-400);
  font-family: var(--font-inter);
}
